@tailwind base;
@tailwind components;
@tailwind utilities;

#heroBg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url(/src/images/hero-bg-img.jpeg);
  background-position: center;
  background-size: cover;
}
